version: '3.9'

services:
  audit-protocol:
    image: powerloom-audit-protocol
    #build:
    #  context:
    #    ../audit-protocol/
    expose:
      - 9000
      - 9002
    #  - 9030
    ports:
      - 9000:9000
      - 9002:9002
    #  - 9030:9030
    depends_on:
      redis:
         condition: service_healthy
      rabbitmq:
         condition: service_healthy
    #  - "ipfs"
    volumes:
      - local_cache:/home/ubuntu/local_cache/
      - ./logs/audit-protocol:/root/.pm2/logs
    links:
    #  - "ipfs"
      - "redis"
      - "rabbitmq"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/health"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 40s

    command:
      bash -c "sh init_processes.sh"

  pooler:
    image: powerloom-pooler
    #build:
    #  context:
    #    ../pooler/
    depends_on:
      audit-protocol:
        condition: service_healthy
    expose:
      - 8002
      - 8555
    ports:
      - 8002:8002
      - 8555:8555
    volumes:
      - local_cache:/home/ubuntu/local_cache/
      - ../pooler/snapshotter:/snapshotter
      - ../pooler/config:/config
      - ./logs/pooler:/logs
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8002/health"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 30s
    command:
      bash -c "sh init_processes.sh"

  pooler-frontend:
    image: powerloom-pooler-frontend
    #build:
    #  context:
    #    ../pooler-frontend/
    depends_on:
      pooler:
        condition: service_healthy
    expose:
      - 3000
    ports:
      - 3000:3000
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:3000"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 20s

  consensus-frontend:
    image: powerloom-offchainconsensus-frontend
    expose:
      - 4173
    ports:
      - 4173:4173
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:4173"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 20s

  redis:
    command: ["redis-server"]
    image: "redis"
    expose:
      - 6379
    ports:
      - 6379:6379
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 30s

  rabbitmq:
    image: rabbitmq:3-management
    #command: ["daemon"]
    expose:
      - 15672
      - 5672
    ports:
      - 5672:5672
      - 15672:15672
    healthcheck:
      test: rabbitmq-diagnostics check_port_connectivity
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 30s
  ipfs:
    image: ipfs/kubo:release
    profiles: ["ipfs"]
    #command:
    #   ["daemon", "--migrate=true", "--agent-version-suffix=docker"]
    expose:
      - 5001
    ports:
      - 5001:5001
volumes:
  local_cache:
