# Required
SOURCE_RPC_URL=
SIGNER_ACCOUNT_ADDRESS=
SIGNER_ACCOUNT_PRIVATE_KEY=
SNAPSHOT_CONFIG_REPO=https://github.com/Seth-Schmidt/snapshotter-configs
SNAPSHOT_CONFIG_REPO_BRANCH=aave
SNAPSHOTTER_COMPUTE_REPO=https://github.com/Seth-Schmidt/snapshotter-computes
SNAPSHOTTER_COMPUTE_REPO_BRANCH=aave
PROST_RPC_URL=
PROTOCOL_STATE_CONTRACT="0xEf97E4A91eE25B12426A8f1dAcAb085f3f077dc2"
NAMESPACE="aavev3"
PROST_CHAIN_ID="105"
# Optional
RELAYER_HOST=""
POWERLOOM_REPORTING_URL=
IPFS_URL=
IPFS_API_KEY=
IPFS_API_SECRET=
SLACK_REPORTING_URL=
WEB3_STORAGE_TOKEN=