# Required
SOURCE_RPC_URL=
SIGNER_ACCOUNT_ADDRESS=
SIGNER_ACCOUNT_PRIVATE_KEY=
SLOT_ID=
SNAPSHOT_CONFIG_REPO=https://github.com/powerloom/snapshotter-configs
SNAPSHOT_CONFIG_REPO_BRANCH=devnet
SNAPSHOTTER_COMPUTE_REPO=https://github.com/powerloom/snapshotter-computes
SNAPSHOTTER_COMPUTE_REPO_BRANCH=devnet
# Prost is the codename for the anchor chains of Powerloom Protocol
PROST_RPC_URL=https://rpc-prost1h-proxy.powerloom.io

## For Epoch Size 1. Data source chain: ETH Mainnet
# PROTOCOL_STATE_CONTRACT=0x573906E80C30dA608E3a24A0938BCB3f0C68Ed2f
## For Epoch Size 10. Data source chain: ETH Mainnet
# PROTOCOL_STATE_CONTRACT=0x12e11e7327d1A35CbB8B9116382D4c80bBbd66FF

## For Epoch Size 1. Data source chain: Sepolia Testnet
# PROTOCOL_STATE_CONTRACT=0xA5EF4Ed4086C9481E7d0b59aaF96819D36DB5092
## For Epoch Size 10. Data source chain: Sepolia Testnet
# PROTOCOL_STATE_CONTRACT=0x8BCE7F3644e843e445f3FaAD2256e0BEbBfD52bb

PROTOCOL_STATE_CONTRACT=
RELAYER_HOST=https://relayer-devnet.powerloom.io
NAMESPACE=DEVNET
PROST_CHAIN_ID=11165
# Optional
POWERLOOM_REPORTING_URL=https://devnet-reporting.powerloom.dev
IPFS_URL=
IPFS_API_KEY=
IPFS_API_SECRET=
SLACK_REPORTING_URL=
WEB3_STORAGE_TOKEN=
