# Required
SOURCE_RPC_URL=
SIGNER_ACCOUNT_ADDRESS=
SIGNER_ACCOUNT_PRIVATE_KEY=
SNAPSHOT_CONFIG_REPO=https://github.com/powerloom/snapshotter-configs
SNAPSHOT_CONFIG_REPO_BRANCH=zkevm_quests
SNAPSHOTTER_COMPUTE_REPO=https://github.com/powerloom/snapshotter-computes
SNAPSHOTTER_COMPUTE_REPO_BRANCH=zkevm_quests
# Optional
PROST_RPC_URL=https://rpc-prost1e.powerloom.io
PROTOCOL_STATE_CONTRACT=0xb24553C414e8FD41fB0F19F04B53bbb22ea5EDCf
RELAYER_HOST=https://relayer-prost1e.powerloom.io
NAMESPACE=1101
POWERLOOM_REPORTING_URL=https://testnet-phase2-reporting.powerloom.io
PROST_CHAIN_ID=
IPFS_URL=
IPFS_API_KEY=
IPFS_API_SECRET=
SLACK_REPORTING_URL=
WEB3_STORAGE_TOKEN=
