# Required
SOURCE_RPC_URL=
SIGNER_ACCOUNT_ADDRESS=
SIGNER_ACCOUNT_PRIVATE_KEY=
SNAPSHOT_CONFIG_REPO=https://github.com/powerloom/snapshotter-configs
SNAPSHOT_CONFIG_REPO_BRANCH=eth_india
SNAPSHOTTER_COMPUTE_REPO=https://github.com/powerloom/snapshotter-computes
SNAPSHOTTER_COMPUTE_REPO_BRANCH=eth_india
# Optional
PROST_RPC_URL=https://rpc-ethindia.powerloom.io/
# PROTOCOL_STATE_CONTRACT= 0xF68a03aAc894ba0FB1338bE598770b704AD1E4B8 (Epoch Size 1 ETH)
# PROTOCOL_STATE_CONTRACT= 0xD119009363Bb346Ca86a109784293764261e14c2 (Epoch Size 10 ETH)
PROTOCOL_STATE_CONTRACT=
RELAYER_HOST=https://relayer-py-ethindia.powerloom.io
NAMESPACE=
POWERLOOM_REPORTING_URL=https://ethindia-reporting.powerloom.io
PROST_CHAIN_ID=31223
IPFS_URL=
IPFS_API_KEY=
IPFS_API_SECRET=
SLACK_REPORTING_URL=
WEB3_STORAGE_TOKEN=
